@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&family=Roboto:wght@300;400;500&family=Ubuntu+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .app-preview {
        @apply bg-cover bg-top bg-no-repeat bg-[url('/img/app-mobile.png')] dark:bg-[url('/img/app-mobile-dark.png')] sm:bg-[url('/img/app-tablet.png')] sm:dark:bg-[url('/img/app-tablet-dark.png')] lg:bg-[url('/img/app-desktop.png')] lg:dark:bg-[url('/img/app-desktop-dark.png')];
    }

    .color-sheme-only-light {
        color-scheme: only light;
    }

    .color-sheme-only-dark {
        color-scheme: only dark;
    }
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

html {
    @apply scroll-smooth
}

noscript {
    @apply bg-white mx-auto w-11/12 md:w-3/4
}

input, textarea, select {
    @apply color-sheme-only-light dark:color-sheme-only-dark
}

